.rating-bars-container {
    margin-top: 33px;
    display: grid;
    justify-content: space-between;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 20px;

    .css-dqr9h-MuiRating-label {
        color: #2e53ab;
    }

    .bar-container {
        height: 55%;
        display: flex;
        align-items: center;
        // column-gap: 40px;
        justify-content: space-between;
        margin-right: 105px;
    }

    .rating-bar-header {
        font-size: rem(22px);
        line-height: 3;
    }

    .MuiRating-sizeMedium {
        height: 100%;
    }
}

.add-review-btn {
    // margin-left: 460px;
    width: 107px;
    height: 47px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 8px;
    color: #222222;
    margin-top: 31px;
    border: 1px solid;
    font-weight: 550;
    background-color: $clr2;
    text-decoration: none solid rgb(34, 34, 34);
    margin-bottom: 16px;
    &:hover {
        background-color: #f7f7f7;
    }
}
.border-bottom {
    margin-top: 48px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 48px;
}
