.generic-modal-container {
    width: 1031px;
    height: 509px;
    transform: translate(25%, 25%);
    z-index: 1;
    position: fixed;
    overflow-y: hidden;

    &.after-open {
        overflow-y: hidden;
    }
}
