.air-cover-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;

    img {
        width: 123px;
        height: 26px;
    }

    .air-cover-text {
        margin-top: 21px;
    }

    .learn-more-button {
        margin-top: 16px;
    }

    .swal-title {
        margin: 0px;
        font-size: 16px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
        margin-bottom: 28px;
    }
}

.air-cover-modal-container {
    margin-top: 20px;
    overflow-y: hidden;
    .air-cover-image {
        width: 152px;
        height: 32px;
    }
}
