.apartment-info {
    display: flex;
    column-gap: 16px;
    margin-top: 32px;

    .apartment-text-info-container {
        display: flex;
        flex-direction: column;

        .apartment-text-header {
            color: #222222;
        }

        .apartment-text-info {
            color: #717171;
        }
    }
}
