//.MuiTextField-root {
//}

.stay-details-start-date-picker {
  .MuiInputBase-root {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    fieldset {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
    }
    &hover {
      fieldset {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
    .MuiOutlinedInput {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
.stay-details-end-date-picker {
  .MuiInputBase-root {
    fieldset {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;

    }
  }
}
.MuiTextField-root > .MuiFormLabel-root.Mui-focused {
  color:black;
}
