.guest-picker-container {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    user-select: none;


    .age-container {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        .type-text {
            font-weight: 600;
        }
    }
    .value-container {
        display: flex;
        column-gap: 15px;
        align-items: center;
        cursor: pointer;

        .icon-container {
            display: flex;
            align-self: center;
            border: 1px solid #717171;
            border-radius: 45px;
            padding: 6px;
            &.disabled {
                cursor: not-allowed;
                color: #ebebeb;
                border-color: #ebebeb;
            }
        }
    }
}
