.orders-container {
    display: flex;
}

.orders-status-header {
    margin-top: 20px;
    font-size: 26px;
}
.host-container {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    // padding-left: auto;
    // padding-right: auto;
    padding-top: 80px;
}
