.host-summary-income-container {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    max-height: 20%;

    .income-info-container {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        .income-text {
            font-size: 16px;
            color: #0000008a;
        }
        .income-price {
            font-size: 16px;
            color: green;
            margin-bottom: 18px;
        }
    }
}
