.order-container {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    column-gap: 30px;
    .order-details-container {
        display: flex;

        .user-image {
            margin-top: 10px;
            width: 50px;
            height: 50px;
            // border: 1px solid black;
            border-radius: 50%;
        }
        .order-details {
            display: flex;
            flex-direction: column;
            .user-name {
                text-transform: capitalize;
            }
            .order-reserved-date {
                display: flex;
                flex-direction: column;
            }

            .order-text-info {
                color: rgba(136, 139, 152, 255);
            }
        }
    }

    .order-status {
        &.approved {
            color: #67c139;
        }
        &.pending {
            color: rgba(252, 94, 6, 255);
        }
        &.rejected {
            color: rgba(244, 108, 108, 255);
        }
    }
}
