.reserve-button {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 20px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    --mouse-x: 50;
    --mouse-y: 50;
    background-image: radial-gradient(
        circle at calc((0 + var(--mouse-x, 0)) * 10%)
            calc((0 + var(--mouse-y, 0)) * 5%),
        #2e53ab 0%,
        #2e53ab 27.5%,
        #2e53ab 40%,
        #2e53ab 57.5%,
        #2e53ab 75%,
        #2e53ab 100%
    );

    background-image: radial-gradient(
        circle,
        rgb(49, 132, 255) 0%,
        #2e53ab 100%
    );
    color: rgb(255, 255, 255);

    min-height: 47.9948px;
    min-width: 322.37px;

    min-width: 200px;

    /* Miscellaneous */
    overflow: visible;
    cursor: pointer;
    visibility: visible;

    border-radius: 5px;

    padding: 20px 30px;
    min-width: 300px;
    background-size: 200% 200%;
    background-position: calc((100 - var(--mouse-x, 0)) * 1%)
        calc((100 - var(--mouse-y, 0)) * 1%);
    //   background-image: radial-gradient(circle, rgba(252,141,47,1) 0%, rgba(255,49,91,1) 100%);
    cursor: pointer;
    //   border: none;
    //   border-radius: 10px;
    //   font-size: 36px;
    //   font-family: 'Raleway', sans-serif;

    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.modal-container {
    max-width: 500px;
    margin-left: 86px;
    row-gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text-details {
        margin-left: 75px;
    }

    .vacancy-place {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .number-of-guests {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dates {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .price-per-night {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .service-fee {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .total-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: rgb(49, 132, 255);
    color: white;
    font-size: 1em;
}
.swal2-modal .swal2-styled:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
