.review-details {
    margin-top: 25px;
    width: 40%;
    flex-wrap: wrap;

    .user-details {
        display: flex;
        column-gap: 12px;
        img {
            width: 55px;
            height: 55px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.007);
            border-radius: 50%;
        }
        .image-container {
        }
        .user-name-details {
            display: flex;
            flex-direction: column;

            .user-name {
                color: #222222;
                font-weight: 550;
            }
            .user-date {
                color: #717171;
            }
        }
    }
    .user-review {
        margin-top: 17px;
    }
    .show-more-button {
        margin-top: 8px;
    }
}
