button[name='bedrooms'] {
    background-color: #ffffff;
    color: #222222;
    border-color: #e3e3e3;
}

button.filter-btn {
    background-color: #222222;
    color: #ffffff;
}

button.filter-btn:hover {
    background-color: #000;
    color: #ffffff;
}

button[name='bedrooms']:hover {
    border-color: #222222;
}

button[name='bedrooms'].active {
    background-color: #000;
    color: #ffffff;
}

button[name='propertyType'] {
    background-color: #ffffff;
    color: #222222;
    border-color: #e3e3e3;
}

button[name='propertyType']:hover {
    border-color: #222222;
}

button[name='propertyType'].active {
    background-color: #f7f7f7;
    border: 1px solid #222222;
}

.titel {
    color: #222222;
}

.amenitie-checkBox {
    display: block !important;
}

.filter-container .amenities {
    column-count: 2;
}

.divider {
    margin-block-start: 20px !important;
}

.property-type-btn {
    max-width: 200px;
}

.amenitie-checkBox {
    color: #222222;
}

.filter-footer {
    display: flex;
    justify-content: space-between;
}

.open-filter-btn {
    left: 85%;
    width: 50px !important;
    font-size: 12px !important;
    color: #222222 !important;
    border-color: #efefef !important;
    border-radius: 10px !important;
}