.filter-container {
    overflow-y: scroll;
}

.inner-filter-container {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ebebeb
}

h2.sub-titel {
    font-size: 1.3em;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
    color: #222222;
    font-family: Circular;
    padding: 0px 0px 24px;
}

.property-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 16px !important;
    height: 100%;

    .property-img {
        width: 32px;
        height: 32px;
        width: 32px;
    }

    .inner-property-button {
        position: relative;
        min-height: 120px;
        height: 100%;
        padding: 16px;
    }

    .inner-property-button-txt {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        padding-top: 24px;
        white-space: normal;
    }
}


button[name='bedrooms'] {
    background-color: #ffffff;
    color: #222222;
    border-color: #e3e3e3;
}

button.filter-btn {
    background-color: #222222;
    color: #ffffff;
}

button.filter-btn:hover {
    background-color: #000;
    color: #ffffff;
}

button[name='bedrooms']:hover {
    border-color: #222222;
}

button[name='bedrooms'].active {
    background-color: #000;
    color: #ffffff;
}

button[name='propertyType'] {
    background-color: #ffffff;
    color: #222222;
    border-color: #e3e3e3;
}

button[name='propertyType']:hover {
    border-color: #222222;
}

button[name='propertyType'].active {
    background-color: #f7f7f7;
    border: 1px solid #222222;
}

.amenitie-checkBox {
    display: block !important;
}

.divider {
    margin-block-start: 20px !important;
}

.property-type-btn {
    max-width: 200px;
}

.amenitie-checkBox {
    color: #222222;
}

.filter-footer {
    border-top: 1px solid #ebebeb;
    padding: 16px 24px !important;
}

.open-filter-btn {
    display: block;
    position: relative;
    float: right;
    justify-content: space-evenly;
    margin-inline-start: auto;
    width: 88px;
    height: 48px !important;
    padding: 7px;
    font-family: cereal;
    font-size: 12px !important;
    color: #222222 !important;
    border-color: #efefef !important;
    border-radius: 10px !important;
    border: 1px solid lightgray;

    .filter-icon {
        width: 16px;
        height: 16px;
    }
}

.filter-modal {
    padding: 0px !important;
}

.filter-container {
    margin: 0;
    padding: 24px;

}

.filter-header {
    min-height: 64px !important;
    padding-left: 16px;
    border-bottom: 1px solid #ebebeb;
}

.right-space {
    flex: 0 0 32px;
    text-align: right;
}

.left-space {
    flex: 0 0 32px;
    text-align: left;
}

.filter-modal-title {
    font-family: Circular;
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
}

.amenities-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 20px;
}

.filter-carousel-container {

    .alice-carousel__stage-item{
        width: max-content !important;
        margin-inline-end: 40px;

        section.icon-carousel-wrapper {
            width: max-content;
        }
    }

    .icon-btn {
        gap: 6px;
        padding: 4px 0 14px;
        margin: 12px 0 0;
        border: none;
        font-family: Circular;
        font-size: 12px;
        line-height: 16px;
        opacity: 0.6;

        &.icon-btn.active {
            color: #000000;
            opacity: 1;

            .hover-border {
                background-color: #000000;
            }
        }

        &:hover {
            cursor: pointer;
            color: #000000;
            transition:  0.2s;
            opacity: 1;

            .hover-border {
                background-color: lightgray;
            }
        }

        &:active {
            transform: scale(0.95);
            transition: 0.3s;
        }

        .type-container {
            gap: 6px;


        }

        img.icon-carousel {
            width: 24px !important;
            height: 24px !important;
        }

        .hover-border {
            background-color: transparent;
            height: 2px;
            width: 100%;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
}