.stay-preview {
   // width: 260px;

   .like-icon {
      display: inline-block;
      position: relative;
      float: right;
      margin: 15px;
      z-index: 10;
      cursor: pointer;
   }

   .gallery-container {
      aspect-ratio: 260/247;
      // width: 260px;
      // height: 247px;
      position: relative;

      .carousel {
         position: absolute;
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 15px;

         .slider-wrapper {
            height: 100%;

            ul {
               height: 100%;

               img {
                  height: 100%;
                  object-fit: cover;
               }
            }
         }
      }

   }

   .carousel-status{
      display: none;
   }

   .preview-details {
      padding-top: 15px;

      .text {
         font-size: rem(15px);
         margin-top: 2px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         text-decoration: none;
         color: $clr7;
      }

      .rate {
         color: $clr6;
         display: inline-block;
         position: relative;
         float: right;
      }


      .name,
      .night-price {
         color: $clr6;
         font-weight: bold;
      }

      .night {
         color: $clr6;
      }

      .full-night-price {
         font-weight: bold;
         text-decoration: line-through;
      }

      .full-price {
         text-decoration: underline;
      }
   }
}