.thing-to-know-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 300px;
    margin-bottom: 48px;
    .thing-to-know-header {
        font-weight: 600;
        margin-bottom: 18px;
    }
    .things-to-know {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
}
