.action-rating {
    column-gap: 5px;
    padding: 8px;
    border-radius: 5px;
    width: 81px;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
        background-color: #f7f7f7;
    }
}
