.reserve-button {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 20px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(
        circle at center center,
        rgb(255, 56, 92) 0%,
        rgb(230, 30, 77) 27.5%,
        rgb(227, 28, 95) 40%,
        rgb(215, 4, 102) 57.5%,
        rgb(189, 30, 89) 75%,
        rgb(189, 30, 89) 100%
    );
    background-position: 2.65628% 87.3141%;
    background-repeat: repeat;
    color: rgb(255, 255, 255);

    min-height: 47.9948px;
    min-width: 322.37px;

    min-width: 200px;

    /* Miscellaneous */
    overflow: visible;
    cursor: pointer;
    visibility: visible;

    border-radius: 5px;
}
