.star-rating {
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 8px;

    .rating-container {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }

    .reviews-container {
        display: flex;
        align-items: center;
        text-decoration: underline;
    }
}
