.stay-preview {
   width: 260px;
   
   .like-icon{
      display:inline-block;
      position: relative;
      float: right;
      margin: 15px;
      z-index: 10;
      cursor: pointer;
   }

   .gallery-container {
      width: 260px;
      height: 247px;
      position: relative;

      img {
         position: absolute;
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 15px;
      }

   }

   .preview-details {
      padding-top: 15px;
      
      .text {
         font-size: 16px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         text-decoration: none;
         color: grey;
      }

      .rate{
         color: #222222;
         display:inline-block;
         position: relative;
         float: right;
      }
      
      
      .name , .night-price{
         color: #222222;
         font-weight: bold;
      }

      .night{
         color: #222222;
      }
      
      .full-night-price{
         font-weight: bold;
         text-decoration: line-through;
      }

      .full-price{
         text-decoration: underline;
      }
   }
}