.gallery-container {
   height: 260px;
   width: 260px;
   position: relative;

   img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

}

.preview-details {

   h2,
   h3,
   h4 {
      text-decoration: none;
   }
}