.about p {
    margin-bottom: 20px;
}

.about  h2 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.about  nav {
    margin-top: 20px;
    
}

.about nav a {
    margin-right: 10px;
}

.about img {
    border-radius: 10px;
    opacity: 0.7;
}