/* Basics */
@import "basics/base.css";
@import "basics/layout.css";

/* Pages */
/* @import "pages/stay-app.css"; */
@import "pages/stay-details.css";
/* @import "pages/stay-edit.css"; */
@import "pages/about.css";

/* Components */
@import "cmps/stay-list.css";
@import "cmps/stay-preview.css";
@import "cmps/stay-filter.css";
@import "cmps/app-header.css";
@import "cmps/nice-button.css";

.counter,
.timer {
    margin-top: 20%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.counter button:nth-of-type(2) {
    font-size: 2em;
    display: block;
    border: none;
    background-color: inherit;
}

.fancy-box {
    background-color: gold;
    padding: 10px;
    text-align: center;
}

.split-pane > div{
    transition: 0.5s;
}
