.app-header {
    background-color: #e4f8f2;
    color: rgb(60, 60, 60);
}

.app-header > section {
    display: flex;
    align-items: center;
    box-shadow: 3px 4px 15px #00000026;
}

.app-header h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.app-header .user {
    flex-grow: 1;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav {
    display: flex;
    gap: 15px;
}

img.logo {
    width: 200px;
}

img.logo:hover {
    cursor: pointer;
}