@font-face {
    font-family: Helvatica;
    src: url(../fonts/helvatica/Helvetica.ttf);
}

@font-face {
    font-family: cereal;
    src: url(../fonts/cereal/AirbnbCereal_W_Bk.otf);
}
@font-face {
    font-family: cereal-bold;
    src: url(../fonts/cereal/AirbnbCereal_W_Bd.otf);
}

