.stay-preview {
    display: flex;
    flex-direction: column;
    background-color: #08ebef0a;
    text-align: center;
    box-shadow: 3px 4px 15px #00000026;
    border-radius: 5px;
    /* background-repeat: no-repeat; */
    /* background-size: 37%; */
    /* background-position: 50% calc(100% - 50px); */
    overflow-y: hidden;
}

@media only screen and (max-width: 500px) {
    .stay-preview {
        background-size: 80px;
    }
}

.stay-preview .info {
    padding: 20px;
    flex-grow: 1;
    cursor: pointer;
}

.stay-preview .actions {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1d1d1dde;
}

.actions > * {
    font-size: 1rem;
    padding: 0;
    background: none;
    border: none;
    color: wheat;
}

.actions > *:hover {
    text-decoration: underline;
}
